html,
body {
  position: relative;

  background-color: var(--col-blau);
  font-family: "termina", sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background-color: var(--col-blau);
  font-family: "termina", sans-serif;
}

:root {
  --col-weiss: #ffffff;
  --col-blau: #0b3060;
  --col-gruen: #e7ffb2;
  --col-orange: #ffb387;
  --col-rot: #ff7d7f;
  --col-lightblue: #5d81b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--col-gruen);
  font-size: clamp(2rem, 8vw, 12rem); /* (min, preferred, max) */
  font-weight: 800;
  line-height: 1.4; /* ohne "einheit" ist es relativ zur Schriftgrösse */
  position: relative;
}

h2 {
  color: var(--col-weiss);
  font-size: clamp(0.6rem, 2vw, 3rem); /* (min, preferred, max) */
  font-weight: 600;
  margin-bottom: 2vw;
}

h3 {
  color: var(--col-gruen);
  font-size: clamp(0.1rem, 1.2vw, 2rem); /* (min, preferred, max) */
  font-weight: 800;
}

h4 {
  color: var(--col-weiss);
  font-size: clamp(0.4rem, 1.4vw, 2rem); /* (min, preferred, max) */
  font-weight: 500;
}

/* MAIN */
.content {
  flex: 1;
  margin: clamp(2rem, 9vw, 8rem); /* (min, preferred, max) */
}

#titel {
  flex: 1;
  margin: clamp(2rem, 9vw, 8rem); /* (min, preferred, max) */
}

.box {
  background-color: #0f2848;
  border-radius: 2.6vw;
  padding-top: 2vw;
  outline: 1px solid #ffffff;
  height: -60%;
}

.box_karte {
  display: flex;
  justify-content: flex-end;
}

.karte {
  width: 73%;
  z-index: 99; /* Muss über der Animation liegen, da diese sonst die Punkte überdekt und diese können dann nicht mehr angeklickt werden */
}

/* animation */

#animation {
  position: absolute;
  margin-top: -20vw;
  padding-right: 2vw;
  top: 0;
  width: 100vw;
  height: 100vw;
  z-index: 1;

  pointer-events: all;  /* macht dass die Animation klickbar ist */
  cursor: pointer;
}

#animation-mobile {
  display: none;
  position: relative;
  margin-top: -22vh;
  margin-bottom: -9vw;
  padding-right: 2vw;
  transform: translateX(-22%);
  width: 180vw;                 
  height: 180vw;
  z-index: 2;

  pointer-events: all;  /* macht dass die Animation klickbar ist */
  cursor: pointer;
}

@media (max-width: 768px) {
  #animation {
    display: none;
  }
  #animation-mobile {
    display: block;
  }
}

/* Punkte hover */

.cls-1 {
  /* svg Elemente sklaieren standartmässig nicht um ihre eigene Mitte */
  transform-box: fill-box; /* Fläche auf die wir uns beziehen wollen wird nur auf den Kreis reduziert */
  transform-origin: center; /* setzt den Ankerpunkt in die Mitte */
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  /* Muss hinzugefügt werden, da SVGs dies normalerweise nicht haben */
  cursor: pointer;
  pointer-events: all;
}

.cls-1:hover {
  filter: brightness(0.75);
  transform: scale(1.2);
  z-index: 100;
}

/* cards */

#cards {
  padding-left: 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19vw, 1fr));
  height: 50vw;
  overflow-y: auto;
  z-index: 20; /* muss vor der Animation liegn. Ansonsten überdeckt die Animation die oberste Card und diese kann nicht mehr angeklickt werden. */

}

.card {
  width: 15vw;
  display: flex;
  flex-direction: column;
  background-color: var(--col-lightblue);
  border-radius: 1vw;
  outline: 1px solid var(--col-weiss);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4); /* offset-x  offset-y  blue-radius */
  margin-bottom: 1vw;
  margin-top: 0.5vw;
  padding: 1vw;
  color: var(--col-weiss);
}

.card br {
  display: none;
}

.card-title {
  color: var(--col-gruen);
  margin-bottom: 1.5vw;
  margin-top: 0.7vw;
}

.label {
  color: var(--col-weiss);
  font-size: clamp(0.1rem, 1.2vw, 3rem); /* (min, preferred, max) */
  font-weight: 800;
  display: block;
  margin-bottom: 0.3vw;
}

.value {
  color: var(--col-gruen);
  font-size: clamp(0.3rem, 1vw, 3rem); /* (min, preferred, max) */
  font-weight: 500;
  display: block;
  margin-bottom: 1vw;
}

.kategorie {
  margin-bottom: 0.8vw;
  line-height: 1.2;
}

.link {
  color: var(--col-weiss);
  font-size: clamp(0.3rem, 1vw, 3rem); /* (min, preferred, max) */
  font-weight: 500;
  margin-bottom: 1.5vw;
}


/* Active States der Punkte und Cards*/

.card.active {
  background-color: #40689d;
  transform: translateX(1vw);
  transition:
    transform 0.5s ease,
    background-color 0.5s ease;
}

.active-point {
  filter: brightness(0.75);
  transform: scale(1.2);
  z-index: 100;
}

/* Legende */

.legende {
  display: flex;
  flex-direction: column;
  margin-top: -50vw;
}

.legende_beschreibung {
  margin-top: 2.8vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

#punkt_gruen {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: var(--col-gruen);
}

#punkt_orange {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: var(--col-orange);
}

#punkt_rot {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: var(--col-rot);
}

/* Linien unten */

.linien_text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 73%;
}


/* FOOTER */
.footer {
  width: 100vw;
  overflow: hidden;
  bottom: 0;
  display: block;
  z-index: 1;
  position: relative;
}

#car1 {
  height: 2vw;
  position: absolute; 
  z-index: 50;
  bottom: 0;
  animation: fahren1 9s linear infinite;   /* 8s = geschwindigkeit */
}

@keyframes fahren1 {
  from {
    left: -10%;          /* startet links ausserhalb */
  }
  to {
    left: 160%;         /* endet rechts ausserhalb */
  }
}

#car2 {
  height: 2vw;
  position: absolute; 
  z-index: 50;
  bottom: 0;
  animation: fahren2 9s linear infinite;   /* 8s = geschwindigkeit */
}

@keyframes fahren2 {
  from {
    left: -30%;          /* startet links ausserhalb */
  }
  to {
    left: 140%;         /* endet rechts ausserhalb */
  }
}

#car3 {
  height: 2vw;
  position: absolute; 
  z-index: 50;
  bottom: 0;
  animation: fahren3 9s linear infinite;   /* 8s = geschwindigkeit */
}


@keyframes fahren3 {
  from {
    left: -60%;          /* startet links ausserhalb */
  }
  to {
    left: 110%;         /* endet rechts ausserhalb */
  }
}