html, body {
  background-color: var(--col-blau);
  font-family: "termina", sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  margin: 0;
  padding: 0;

  background-color: var(--col-blau);
  font-family: "termina", sans-serif;
}

:root {
  --col-weiss: #ffffff;
  --col-blau: #0b3060;
  --col-gruen: #e7ffb2;
  --col-orange: #ffb387;
  --col-rot: #ff7d7f;
  --col-lightblue: #5d81b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  color: var(--col-gruen);
  font-size: clamp(2rem, 8vw, 12rem); /* (min, preferred, max) */
  font-weight: 800;
  line-height: 1.4; /* ohne "einheit" ist es relativ zur Schriftgrösse */
}

h2 {
  color: var(--col-weiss);
  font-size: clamp(0.6rem, 2vw, 3rem); /* (min, preferred, max) */
  font-weight: 600;
  margin-bottom: 2vw;
}

h3 {
}

h4 {
  color: var(--col-weiss);
  font-size: clamp(0.4rem, 1.4vw, 2rem); /* (min, preferred, max) */
  font-weight: 500;
}

h5 {
}

h6 {
}

/* MAIN */
.content {
  flex: 1;
  margin: clamp(2rem, 9vw, 8rem); /* (min, preferred, max) */ 
}

.box {
  background-color: #0f2848; 
  border-radius: 2.6vw; 
  padding-top: 2vw;
  outline: 1px solid #ffffff;
  height: -60%;
}

.box_karte {
  display: flex;
  justify-content: flex-end; 
}

.karte {
  width: 80%;
}

/* Punkte */

.cls-1 {
  /* svg Elemente sklaieren standartmässig nicht um ihre eigene Mitte */
  transform-box: fill-box;  /* Fläche auf die wir uns beziehen wollen wird nur auf den Kreis reduziert */
  transform-origin: center; /* setzt den Ankerpunkt in die Mitte */
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  z-index: 1;
}

.cls-1:hover {
  filter: brightness(0.75);
  transform: scale(1.2);
  z-index: 100;
}

/* Legende */

.legende {
  display: flex;
  flex-direction: column;
  margin-top: -56vw;
}

.legende_beschreibung {
  margin-top: 2.8vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

#punkt_gruen {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: var(--col-gruen);
}

#punkt_orange {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: var(--col-orange);
}

#punkt_rot{
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: var(--col-rot);
}

/* cards */

#cards {
  padding-left: 2vw;  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 1rem;
  height: 50vw;
  overflow-y: auto;
}

.card {
  width: 15vw;
  height: 23vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--col-lightblue);
  border-radius: 1vw;
  outline: 1px solid var(--col-weiss);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4) ; /* offset-x  offset-y  blue-radius */
  margin-bottom: 1.7vw;
  padding: 1vw;
  color: var(--col-weiss);
}

.card h3 {
  color: var(--col-gruen);
}

/* Linien unten */

.linien_text {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 80%;
}

/* FOOTER */
.footer {
  width: 100vw;
  margin-top: 3vw;
  overflow: hidden;
  bottom: 0;
  display: block; /* entfernt den kleinen Abstand unter dem Bild */
}

/* .footer-skyline {
  display: block;
  width: 100%;
  height: auto;
} */
